# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk

# intelliJ
.idea/
out/

# VS Code
.vscode/

# maven
target/

# gradle
/build
/.gradle
gradle.properties

# Python
venv/

# Mac
.DS_Store

# Windows
Thumbs.db
/.recommenders/
/key.gpg
