name: Documentation
on:
  push:
    paths:
      - '**.properties'
      - '**/CreateUITable.java'

jobs:
  gradle:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Build documentation
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: :darklaf-core:makeDocumentation -PskipSpotless -x test
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-documentation
          path: build/documentation
