name: Errorprone

on: [push, pull_request]

jobs:
  errorprone:
    name: "Errorprone"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 10
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Check
        run: ./gradlew compileJava -PskipSpotless -PenableErrorProne -PWerror
