name: Build Native Libraries

on:
  push:
    paths:
    - '**.cpp'
    - '**.mm'
  pull_request:
    paths:
    - '**.cpp'
    - '**.mm'
  schedule:
    - cron:  '0 0 1 * *'
jobs:
  windows:
    name: Windows (Java 11)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 10
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build
      run: ./gradlew :darklaf-windows:build
    - name: Upload x86 artifact
      uses: actions/upload-artifact@v1
      with:
        name: darklaf-windows_x86.dll
        path: windows/build/lib/main/release/x86/darklaf-windows.dll
    - name: Upload x86-64 artifact
      uses: actions/upload-artifact@v1
      with:
        name: darklaf-windows_x86-64.dll
        path: windows/build/lib/main/release/x86-64/darklaf-windows.dll
  
  macOS:
    name: macOS (Java 11)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 10
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build
      run: ./gradlew :darklaf-macos:build
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: libdarklaf-macos.dylib
        path: macos/build/lib/main/release/stripped/libdarklaf-macos.dylib
